@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.header-container{
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-logo>img{
    max-width: 6rem;
}

.content-title{
    text-align: center;
}

.main-title{
    text-transform: uppercase;
}
.body-title{
    font-size: 0.7rem;
}

h1{
    text-align: center;
    margin-top: 1.5rem;
}
.equipment-data div{
    text-transform: capitalize;
}

.equipment-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 24px;
}

.table-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
}

tr, td {
    /* border: 1px solid; */
    height: 55px;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8rem;

}

thead {
    background-color: #E7E7E7;
    text-align: center;
    text-transform: uppercase;
    /* padding: 2rem; */
}